// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';

header{
    z-index:4;
}

.bus-go { 
    position: relative;
    animation: mymove 5s 1;
  }
.bus-go {
    animation-timing-function: ease;
}
@keyframes mymove {
     0%   {left: 500px}
    25%  {left: 100%;}
    50%  {left: 0%; display: none;}
    100% {left: 500px;}

    }

